@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Roboto&display=swap');

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: 'IBM Plex Sans', sans-serif;

}